<!-- <div class="bg-img"> -->
    <div class="topnav">
      <% if user_signed_in? %>
      <%= link_to "Home", root_path %>
      <%= link_to "My account", dashboard_path %>
      <%= link_to "Locations to rent", locations_path %>
      <%= link_to "Sign out", destroy_user_session_path, :method => 'delete'%>
      <% else %>
      <%= link_to "Home", root_path %>
      <%= link_to "Locations to rent", locations_path %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Log in", new_user_session_path %>
      <% end %>
    </div>
<!-- </div> -->
