<div class="cards cards-dash dash-message">
  <%= link_to(new_location_path, class: "my-a-tag") do %>
  <button class="button btn-create-new">
  <%= "Click here to create a page for your new location" %>
  <div class="button__horizontal"></div>
  <div class="button__vertical"></div>
  </button>
  <% end %>

  <% if @locations.count > 0%>
  <h1> Here are the locations you are renting out </h1>
  <% else %>
  <h1> What are you waiting for?</h1>
  <% end %>
</div>

    <div class="cards">
      <%@locations.each do |location| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=url_for(location.photo) %>)">
        <h2 class="show-name"><%= location.name %></h2>
        <%= link_to location.price, location_path(location), class: "btn btn-flat btn-secondary btn-index" %>
      </div>
      <% end %>
    </div>

