<div class="card-product">
    <%=  image_tag(@location.photo)%>
  <div class="card-product-infos">
    <h2><%= @location.name %></h2>
    <hr />
    <p><%= @location.description %></p>
    <p><%= @location.address %></p>
    <p><%= @location.price %></p>
    <div class="center">
    <%= link_to "Book now!", new_location_rental_path(@location), class: " btn btn-book" %>

    </div>
  </div>
    <%= link_to "Back", locations_path(@location) %>
</div>

